footer {
  text-align: center;
  padding: 2rem 0;
  color: #144746;
  background: #E5E7975C;
}

footer h3 {
  font-weight: bold;
  font-size: 1.8rem;
}

.footer-custom-menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.footer-custom-menu li {
  margin: 0 0.5rem;
}

.footer-custom-menu a {
  color: #144746;
}